<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Bienvenue sur ORAD COLOCATION</h1>
            <hr>
            <p>1ère Plateforme de Colocation en Côte d'Ivoire ! Vous Cherchez un colocataire ou une colocation ? Vous êtes au bon endroit !</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Je cherche une Colocation</a>  <a href="#about" class="btn btn-primary btn-xl page-scroll">Je cherche un colocataire </a>
        </div>
    </div>
</header>

